/** @format */

.color-header {
  color: pink !important;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 18px;
  height: 1px;
  border-radius: 1px;
}
#admin-dashboard {
  .card {
    background-color: #fff;
  }
  .list-group-item {
    background-color: #fff;
    color: #333;
  }
}
