/** @format */

@import "variables";
aside {
  background-color: #1f1d2b;
  width: 200px;
  z-index: 99;
  height: 100vh;
  margin-left: -200px;
  padding-top: 2rem;
  transition: 0.5s;
  position:fixed;
  top: 0;
  a {
    text-decoration: none;
    color: #333;
    p {
      font-size: 14px;
    }
  }
  a:hover {
    color: $color-primary;
  }
  &.collapsed{
    margin-left: 0px;
  }
}
.justify-self-end {
  justify-self: end;
}
@media (min-width: 768px) {
  aside {
    width: 200px;
    margin-left: -8px;
  }
}
