.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#calendar {
    margin: 0 auto;
}
#calendar .fc-view-container {
    background-color: #fff;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
#calendar .fc-toolbar.fc-header-toolbar .fc-center {
    display: flex;
}

/* #calendar-container {
} */

.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width: 767.98px) {
    .fc-toolbar {
        display: block !important;
        text-align: center;
    }
    .fc-toolbar .fc-center {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
// h1 {
//     font-size: 24px;
// }
// h2 {
//     font-size: 16px;
//     color: #5372e7;
// }

#side-menu {
    width: 240px;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: none;
}
#dashboard {
    width: calc(100vw - 240px);
    background: #fafafa;
    height: 100vh;
    margin-left: auto;
}

.dummy-calendar {
    width: auto;
    height: 80vh;
    background-color: pink;
}
.btn {
    margin-top: 0.25rem;
    width: max-content;
}
.btn a {
    display: block;
    color: #999999;
    padding: 0.5rem 3rem;
    text-decoration: none;
    border-radius: 0.75rem;
}
.btn a.active {
    background-color: #5372e7;
    color: white;
}

.btn a:hover:not(.active) {
    background-color: #555;
    color: white;
    max-width: 176px;
}
i {
    margin-right: 15px;
}
ul {
    list-style-type: none;
}
body {
    font-family: Verdana, sans-serif;
}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #5372e7;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important;
}
.calendar-container {
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.fc-header-toolbar {
    /*
        the calendar will be butting up against the edges,
        but let's scoot in the header's buttons
        */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.card-change {
    padding: 2rem;
    width: 50%;
    height: fit-content;
    border: 2px solid $color-primary;
    border-radius: 5px;
}
input {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
}
.btn {
    width: 100%;
    background-color: $color-primary;
    color: white;
    padding: 0.6rem 1.2rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-pass:hover {
    background-color: $color-primary-hover;
}
a.forgotpass {
    justify-content: end;
    align-items: flex-end;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-card {
        padding: 1rem;
        border: 4px solid $color-primary;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        .form-label-group {
            padding-bottom: 0.5rem;
            justify-content: center;
        }
        .btn {
            background-color: $color-primary;
            border: none;
            color: white;
        }
        .btn:hover {
            background-color: $color-primary-hover;
            color: white;
        }
    }
}
.error-message {
    color: red;
    font-size: 14px;
}
.MuiTablePagination-selectIcon,
.MuiTablePagination-selectRoot,
.MuiTablePagination-menuItem {
    background-color: $color-primary;
    padding: 8px;
    border-radius: 10px;
    color: white;
}
.MuiTablePagination-actions {
    background-color: $color-primary;
    border-radius: 10px;
}
