$color-primary: #ff8c00;
<<<<<<< HEAD
$color-primary-hover: #ff4500;
=======
$color-primary-hover: #ff4500;
$color-bg: #242230;
$color-bg-card: #353340;
$color-hr: #DFE3ED;
>>>>>>> a0ec9602f31bfad9049ab4befbf2daece3f427d8
